{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Crew Members{% endblock %}


{% block content %}

<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    {% if event_id %}
    <th>Event</th>
    <th>Location</th>
    <th>Actions</th>
    {% else %}
    <th>Actions</th>
    {% endif %}
  </tr>
  {% for row in crewmembers %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    {% if event_id %}
    <td>
      {{row[3]}}
    </td>
    <td>
      {{row[4]}}
    </td>
    <td>
      <a href="/showcrewmembers?event_id={{event_id}}&crewmember_id={{row[0]}}&unassign=true">Unassign</a>
    </td>
    {% else %}
    <td>
      <a href="/showevents?crewmember_id={{row[0]}}">View Assigned Events</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
<br>
{% if event_id %}
<h2>
    Assign Crew Member:
</h2>
{% if other_crewmembers %}
<form>
  <select name="assign_crewmember_id">
    <option>Choose Crew Member</option>
    {% for crew in other_crewmembers %}
    <option value='{{ crew[0] }}'>{{crew[1]}} {{crew[2]}} - {{crew[3]}} (ID {{crew[0]}})
    </option>
    {% endfor %}
  </select>
  <button type="submit" value="Assign">Assign</button>
  <input type="hidden" name="event_id" value="{{ event_id }}" />
</form>
{% else %}
No other crew members can be assigned to this event.<br>
{% endif %}
<br>
<a href="/showevents">Return to events</a>
<br>
{% endif %}
{% if not event_id %}
<a href="/manageCrewmembers">Add/Edit/Remove a Crew Member</a><br>
{% endif %}
<a href="/">Return to main page</a>
{% endblock %}