{% extends 'base.html' %}

{% block header %}
Updating Event
{% endblock %}

{% block content %}

<h2>Change this event</h2>
<form action="">
  <input type="hidden" name="id" value="{{id}}">
  Name: <input type="text" name="name" value="{{existingName}}"><br />
  Start Date: <input type="date" name="start_date" value="{{existingStartDate}}" /><br />
  End Date: <input type="date" name="end_date" value="{{existingEndDate}}" /><br />
  Location: <input type="text" name="location" value="{{existingLocation}}" /><br />
  <input type="submit" value="Submit">
</form>
<a href="/manageEvents">Return to list</a>
{% endblock %}